.sign-up-button-signup{
    background-color: #4889E9;
    border: none;
    height: 40px;
    width: 300px;
}
.reset-password-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}