/* src/components/ResetPassword/ResetPassword.css */

.reset-password {
    display: flex;
    flex-direction: column;
    align-items: center; /* Đặt nội dung ra giữa trang */
    padding: 20px;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Loại bỏ thanh cuộn ngang */
}


.reset-password-logo {
    width: 150px;
    height: auto;
    position: relative; /* Thay đổi để có thể sử dụng top và left */
    top: -80px; /* Di chuyển logo lên trên */
    left: -50px; /* Di chuyển logo sang trái */
}

.language-selector {
    margin-left: auto;
}

.reset-password-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    overflow-x: auto; /* Loại bỏ thanh cuộn ngang trong container */
}

.reset-password-form {
    background: #fcfdff;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%; /* Đảm bảo không vượt quá chiều rộng của viewport */
}

.reset-password-form h2 {
    text-align: center;
    font-size: 24px;
    color: #1a73e8; /* Màu xanh nhạt */
}

.reset-password-form p{
    text-align: left;
    margin: 9px;
    color: #666;
}

p.error-message{
    color: red;
    margin-top: 10px;
}

.Email{
    text-align: left;
    margin: 20px 0;
    color: #000000;
}

.form-group-RP {
    text-align: center;
    width: 100%; /* Đặt width thành 100% để form group nằm trong form */
    margin-bottom: 20px;
}
.reset-password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 8px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
    overflow-x: hidden;
}
input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reset-password-button {
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: stretch;
    align-items: stretch;
}

.reset-password-button:hover {
    background-color: #1661c5;
}

.reset-password-illustration {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px; /* Thêm khoảng cách giữa form và hình minh họa */
    overflow: hidden; /* Loại bỏ thanh cuộn ngang trong hình minh họa */
}

.reset-password-illustration img {
    max-width: 100%; /* Giới hạn kích thước tối đa của hình ảnh */
    height: auto;
    border-radius: 8px; /* Thêm bo tròn góc cho hình ảnh */
}
