.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fcfdff;
    position: relative;
}

.language-selector {
    position: absolute;
    top: 20px;
    right: 20px;
}

.language-selector select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.login-logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.login-logo img {
    width: 150px;
    height: auto;
}
.navbar {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}
.nav-button {
    background-color: transparent;
    border: none;
    color: #999;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    transition: color 0.3s, border-color 0.3s;
    position: relative;
}

.nav-button.active {
    color: #007bff;
    font-weight: bold;
}

.nav-button::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #007bff;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-button.active::after {
    width: 100%;
}

.login-form {
    background: #fcfdff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px rgba(0, 0, 0, 0.1);
    width: 420px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    margin-bottom: 5px;
}


.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dad7d7;
    border-radius: 4px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.remember-me {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.forgot-password-link {
    color: #ff0000;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password-link:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button.signup-button {
    background-color: #b4c8d9; 
}

button.signup-button:hover {
    background-color: #5a5c68;
}

p {
    text-align: center;
    margin: 20px 0; 
}

.or-login-with {
    margin: 0;
    font-size: 14px;
    color: #666;
    text-align: center;
}

.google-login {
    width: 250px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #dad7d7;
    border-radius: 4px;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 50px;
}

.google-login img {
    margin-right: 10px;
    height: 24px;
}

.google-login:hover {
    background-color: #f0f0f0;
}
