.technology-content {
    
    background-color: #ffffff;
    margin-top: 40px;
    margin-bottom: 45px;
    margin-left: 60px;
    margin-right: 60px;
    padding: 30px 40px;
    height: 100%;
    border-radius: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.technology-content-row{
    gap: 12px;
    flex-flow: nowrap;
}

  .action-buttons {
    margin-bottom: 40px;
    display: flex;
    gap: 16px;
    flex-direction: row;
  }

  .export-btn {
    background-color: #4CAF50;
    border-color: #4CAF50;
    height: 58px;
    width: 188px;
    border-radius: 15px;
  }
  
  .edit-btn {
    background-color: #FF9800;
    border-color: #FF9800;
    color: white;
    height: 58px;
    width: 188px;
    border-radius: 15px;
  }
  
  .delete-btn {
    background-color: #F44336;
    border-color: #F44336;
    color: white;
    height: 58px;
    width: 188px;
    border-radius: 15px;
  }
  
  .add-btn {
    background-color: #2196F3;
    border-color: #2196F3;
    height: 58px;
    width: 188px;
    border-radius: 15px;
  }
  
  .technology-card {
    border-radius: 16px;
    overflow: hidden;

  }

  .ant-card-body{
    display: flex;
    justify-content: flex-end;
  }
  
  .technology-card .ant-card-cover img {
    height: 200px;
    object-fit: cover;
  }
  
  .show-questions-btn {
    display: flex;
    margin-top: 16px;
    justify-content: flex-end;
  }
  
  .pagination-container {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .action-buttons {
      flex-wrap: wrap;
    }
    
    .action-buttons .ant-btn {
      flex: 1 0 calc(50% - 8px);
    }
  }