.otp-verification-page {
    font-family: Arial, sans-serif;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.otp-verification-header {
    display: flex;
    justify-content: space-between;
    width: 200%;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
}

.otp-verification-logo {
    width: 150px;
    height: 50px;
    position: absolute;
    top: -100px;
    left: 50px;
}

.language-selector {
    position: absolute;
    top: 20px;
    right: 20px;
}

.otp-verification-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin-top: 40px;
}

.otp-verification-form {
    background: #fcfdff;
    margin-left: -200px;
    padding: 40px;
    border-radius: 8px;
    width: 150%;
    max-width: 600px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.otp-verification-form h2 {
    color: #363cdd;
    margin-left: 100px;
}

.form-otp-verification {
    width: 100%;
}

.otp-verification-form p {
    margin-left: 200px;
    margin: 20px 0;
    font-size: 11px;
}

.form-group-OTP {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group-OTP input {
    margin-top: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.otp-footer {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: 5px;
    width: 100%;
}

.timer {
    font-size: 16px;
}

.resend-otp-link {
    color: #007bff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 50px;
    margin-bottom: 10px;
}

.resend-otp-link:hover {
    text-decoration: underline;
}

.otp-verification-button {
    margin-top: 20px;
    line-height: 15px;
    width: 150%;
    background-color: #1900f6; /* Màu nền mới */
    color: white; /* Màu chữ */
    border: none; /* Không có đường viền */
    padding: 5px 5px; /* Padding của nút */
    border-radius: 3px; /* Góc bo tròn của nút */
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer; /* Con trỏ khi di chuột qua */
    transition: background-color 0.3s ease;
}

.otp-verification-button:hover {
    background-color: #0056b3;
}

.otp-verification-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.otp-verification-image img {
    max-width: 200%;
    margin-left: 200px;
    height: auto;
    border-radius: 8px;
}
