/* Đặt lại một số thiết lập cơ bản cho toàn bộ trang */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Nền trắng */
    color: #333;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden; /* Loại bỏ thanh cuộn ngang */
}

/* Container chính bao bọc toàn bộ trang */
.reset-password-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    height: 100vh; /* Chiều cao 100% viewport */
    }

/* Header chứa logo và bộ chọn ngôn ngữ */
.reset-password-header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    background-color: #fff;
}

.reset-password-page-logo {
    position: absolute;
    top: 20px;
    left: 5px;
    width: 150px;
}

.language-selector select {
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

/* Container bao bọc form và hình minh họa */
.reset-password-container {
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
    margin-right: 100px;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 8px;
}

/* Phần form đặt lại mật khẩu */
.reset-password-form {
    flex: 1;
    padding: 40px;
}

.reset-password-form h2 {
    color: #363cdd;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.35;
    margin-bottom: 10px;
    margin-left: 10px;
}

.reset-password-form p {
    margin-bottom: 10px;
    color: #666;
    font-size: 16px;
}

.form-group-RP {
    text-align: left;
    margin-bottom: 15px;
}
.reset-password-container .reset-password-new-password,.reset-password-container .reset-password-confirm-new-password{
    width: 150%; /* Chiếm toàn bộ chiều rộng của phần tử chứa */
    margin-top: 30px;
    height: 5px;
    border: -10px solid #ffffff;
}

/* Nút đổi mật khẩu */
.reset-password-button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #1890ff; /* Màu xanh Ant Design */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.reset-password-button:hover {
    background-color: #40a9ff; /* Thay đổi màu khi hover */
}

/* Phần hiển thị hình minh họa */
.reset-password-illustration {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}

.reset-password-illustration img {
    max-width: 150%;
    height: auto;
}

/* Thông báo lỗi */
.error-message {
    color: #ff4d4f; /* Màu đỏ của Ant Design */
    margin: 10px 0;
    font-size: 14px;
}
