.otp-verification-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;

}
.otp-verification-form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.otp-verification-form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.reset-password-form h1{
    color: #4889E9;
    font-size: 40px;
    font-weight: 700;
}
.otp-verification-input{
    width: 300px;
}
.otp-verification-button{
    width: 300px;
    height: 40px;
}
.otp-inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    gap: 20px;
}
.otp-inputs input{
    width: 50px;
    height: 50px;
    border: 1px solid #4889E9;
    border-radius: 5px;
    margin: 0 5px;
}
.verify-button{
    height: 40px;
    width: 400px;
}
.otp-input-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.resend-otp-button span{
    color: #4889E9;
}