.login-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.login-content {
    display: flex;
    flex: 1;
    margin-top: 50px;
}

.login-form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form h2{
    font-size: 40px;
    font-weight: 600;
    color: #4889E9;
}
.login-form p{
    font-size: 16px;
    color: #888;
}

.role-selector {
    display: flex;
    gap: 50px;
    margin-bottom: 40px;
}

.role-button {
    background: none;
    border: none;
    padding: 10px;
}

.role-button.active {
    color: #1890ff;
    border-bottom: 2px solid #1890ff;
}

.login-form {
    max-width: 400px;
}

.form-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.or-divider {
    text-align: center;
    margin: 20px 0;
    color: #888;
}

.google-login {
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-login img {
    margin-right: 10px;
}

.login-banner {
    flex: 1;

}

.login-banner img {
    width: 90%;
}

.sign-in-button{
    height: 40px;
    width: 300px;
    margin-bottom: 20px;
}
.sign-up-button{
    height: 40px;
    width: 300px;
    background-color: #EFF4FB;
}
.google-login{
    height: 50px;
    width: 300px;
}
.google-login img{
    width: 20px;
}
.input-email{
    height: 40px;
}
.input-password{
    height: 40px;
}
.form-login{
    margin-top: 50px;
}
.input-name,
.input-student-id,
.input-school,
.input-email,
.input-password {
    height: 40px;
}
