.filter-form-container {
    padding: 20px;
    background-color: #fff;
  }
  
  .filter-form-container .ant-form-item {
    margin-bottom: 8px;
  }
  .ant-form-item {
    margin-bottom: 8px;

  }
  
  .filter-form-container .ant-form-item-label > label {
    color: #888;
  }
  
  .filter-form-container .ant-btn {
    width: 120px;
    height: 40px;
  }

  
  .ant-form-vertical{
    display: flex;
    align-items: center;
    margin-left: 60px;
    padding: 25px 40px 0;
    margin-right: 60px;
    flex-direction:column;
    font-family: 'Inter', sans-serif;
    margin-bottom: 50px;
  }

  .action-buttons{
    display: flex;
    flex-direction: column;
    padding-right: 150px;
   
  }

  .input-fields{
    width: 100%;
  }

  .input-check{
    width: 100%;
    gap: 40px;
    display: flex;
  }
  .action-project{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  .start-date-project{
    gap: 80px;
  }
  .avatar-project-management{
    gap: 10px;
  }